
.full-screen {
  max-width: 100% !important;
}

@media (min-width: 576px){
.modal-dialog {
  /* max-width: 500px; */
  max-width: 100%;
  margin: 1.75rem auto;
}
}


blockquote {
  margin: 0;
  padding: 10px 20px;
  border-left: 2px solid #ccc;
  background-color: #f9f9f9;
}
