<app-loading *ngIf="isLoading"></app-loading>




<section class="detail" *ngIf="!isLoading" >



    <div class="carousel-inner" style="height: 100%;">
      <div class="carousel-item active" >
        <span class="anhchinh" ></span>
        <img src="{{isdanhmuc.background}}" class="d-block w-100 hinhtai" alt="..." >
        <div class="carousel-caption d-none d-md-block text" style="    bottom: 164px !important;">
          <h3>{{isdanhmuc.title}}</h3>

        </div>
      </div>
    </div>

<div class="wrapper" id="archive-wrapper">
  <div class="container" id="content" tabindex="-1">
      <main class="site-main" id="main">
        <div class="row">
  <div class="col-lg-4 col-sm-6" style="margin-bottom: 20px;" *ngFor="let item of listnew | paginate: { itemsPerPage: 6, currentPage: p }">
    <article routerLink="/{{item.link}}" class="post-2713 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc category-bi-quyet-dinh-cu-uc" id="post-2713">
        <div class="news-item">
            <div class="news-item-inner">
                <div class="thumbnail">
                    <a  routerLink="/{{item.link}}"><img width="700" height="525" [src]="this.api.URL + '/uploads/' + item.image"  sizes="(max-width: 700px) 100vw, 700px" /></a>
                </div>
            <div class="news-item-info">
          <!-- <div class="date" style="z-index: 1;">
            <div class="date_frame">
              <div class="day">{{item.day}}</div>
            <div class="month">{{item.month}}</div>
            </div>
        </div> -->

        <div class="card-title news_title" routerLink="/{{item.link}}">
            <div class="news_des"><span class="des_1">
              <a >Educationvisa</a>
            </span>  <span class="des_2">
              {{item.date | date:'dd/MM/yyyy'}}
            </span></div>
            <h3 routerLink="/{{item.link}}" class="title_post_chinh" style="cursor: pointer;" ><a style="font-size: 1.5rem !important;" >{{item.title}}</a></h3>
        </div>
            </div>
        </div>
    </div>
</article>
  </div>
            </div>
          </main>

         <div class="paginationssss">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
         </div>
    </div>

    </div>

</section>



<app-form></app-form>
