.sec {
  padding: 100px 0px;
}

.aboutus_image img {
    border-radius: 20px 20px 20px 20px;
}

.aboutus_image img:first-child {
  margin-bottom: 20px;
}

.aboutus_content span {
  line-height: 1.8;
}

.introduce {
  background-color: #f3f4f7;
}

.item_introduce  {
  margin-bottom: 20px;
}

.aboutus_wrapper {
  width: auto !important;
}



.box_item {
  margin-top: 40px;
    .number {
      color: #e76661;
      font-size: 25px;
      font-weight: 700;
    }
    .text_box {
      font-size: 20px;
      font-weight: 500;
    }
}

.aboutus_content p {
  color: #e76661;
  font-weight: 500;
  font-size: 19px;
}

@media screen and (max-width : 770px){
  .box_item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .introduce_main h2 {
    text-align: center !important;
  }
}


@media screen and (max-width: 990px) {
  .aboutus_content {
    p {text-align: center !important;}
  }

  .box_chua_item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
  }
}



.frame_introduce {
  width: 100%;
  height: 350px;
  -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    position: relative;
}

.quare {
  width: 100%;
  height: 100%;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  -ms-transition: transform .6s cubic-bezier(.5,.3,.3,1);
  transition: transform .6s cubic-bezier(.5,.3,.3,1);
  -webkit-transition: transform .6s cubic-bezier(.5,.3,.3,1);
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px ;
}

.quare2 {
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  -ms-transition: transform .6s cubic-bezier(.5,.3,.3,1);
  transition: transform .6s cubic-bezier(.5,.3,.3,1);
  -webkit-transition: transform .6s cubic-bezier(.5,.3,.3,1);
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px ;
}



.quare_container {
  padding: 40px;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transition: transform .6s cubic-bezier(.5,.3,.3,1);
  transition: transform .6s cubic-bezier(.5,.3,.3,1);
  -webkit-transition: transform .6s cubic-bezier(.5,.3,.3,1);
  -webkit-transform: translateY(-50%) translateX(0px) scale(1);
  -ms-transform: translateY(-50%) translateX(0px) scale(1);
  ansform: translateY(-50%) translateX(0px) scale(1);
  transform-style: preserve-3d;
  z-index: 2;
}

.frame_introduce:hover .quare_container {
  -webkit-transform: translateY(-50%) translateX(-650px) scale(.88);
  -ms-transform: translateY(-50%) translateX(-650px) scale(.88);
  transform: translateY(-50%) translateX(-650px) scale(.88);
  transform-style: preserve-3d;
}

.frame_introduce:hover .quare {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.frame_introduce:hover .quare2 {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.frame_introduce:hover .quare_container2 {
  -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
  -ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
  transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
  transform-style: preserve-3d;
}




.quare_container2 {
  padding: 0 20px;
  text-align: justify;
  position: relative;
  top: 50%;
  -ms-transition: transform .6s cubic-bezier(.5,.3,.3,1);
  transition: transform .6s cubic-bezier(.5,.3,.3,1);
  -webkit-transition: transform .6s cubic-bezier(.5,.3,.3,1);
  -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
  -ms-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
  transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
  transform-style: preserve-3d;
  z-index: 2;
}

.quare_container2 p {
  font-size: 18px;
  color: #ffff;
  line-height: 1.6;
}

.quare_container h2 , .quare_container2 h2 {
  margin-top: 10px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Montserrat";
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 1.7;
    text-transform: none;
}

.flip_icon {
 font-size: 40px;
 color: #ffff;
}

.flip_overplay {
  background: rgba(0,0,0,0.3);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

@media screen and (max-width: 768px) {
  .slick-slider {
    padding-left: 0;
    padding-right: 0;
  }
  .khung_procedure_img {
    width: 95% !important;
  }
}

@media screen and (max-width: 500px) {
  .button_procedure {
    width: auto !important;
  }

}

@media screen and (max-width: 600px) {
  .slick-slider {
    padding-left: 0;
    padding-right: 0;
  }
  .khung_procedure_img {
    width: 95% !important;
  }

  .title_content_procedure {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
  .des_content_procedure {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
}

.introduce_main {
  h2 {
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1px;
  }
  margin-bottom: 40px;
}


.image_introduce {
  text-align: center;
}

.box_introduce {
  width: 90px;
  height: 90px;
  background-color: #61ba1d;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   margin-bottom: 16px;
}


// định cư úc

.settled {
  background-color: #f3f4f7;
}


.content_settled {
  text-align: center;
}

.content_hover_h2_settled {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 100px 30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 20px;
}


.item_carousel {
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.content_hover_h2_settled {
  display: none;
  padding-top: 100px ;

}

.content_hover_h2_settled h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 21px;
}



.title_hover_settled {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.title_hover_settled h2 {
  line-height: 1.6;
}

.title_hover_settled h2 {
  font-size: 22px;
    font-weight: bold;
}


.des_services_des {
    clear: both;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.vitri {
  position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    z-index: 2;
}

.main_btn {
    display: inline-block;
    appearance: none;
    font: inherit;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #61ba1d;
    color: #fff;
    padding: 12.5px 30px;
    font-weight: bold;
    border-radius: 20px;
    font-size: 15px;
    min-width: 170px;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    -webkit-transition: .2s;
    transition: .2s;
    text-decoration: none;
}

.main_btn:hover {
  background-color: #85B51D;
  transition: all 0.3s;
}

.khung {
  padding-top: 30px;
  padding-bottom: 100px;
  width: 100%;
  text-align: center;
}










.khung2 {
  padding-top: 50px;
  width: 100%;
  text-align: center;
}

.news_item_card {
  margin-bottom: 10px ;
  border: 0 !important;
  width: 100% !important;
  border-radius: 0 !important;
  position: relative;
}

.news_image {
  border-radius: 0 !important;
}


.news_title {
  margin-bottom: 0 !important;
  padding: 42px 38px;
}

.news_title h3 {
  font-weight: bolder;
}


.news_title h3 a {
  letter-spacing: 1px;
  line-height: 1.2;
  color: #132629 ;
  text-decoration: none;
}

.news_item_card {
  margin-bottom: 26px;
}



.news {
  background-color: #ffff !important;
}


.news_des .des_1 a{
  color: #132629 ;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .8px;
  text-decoration: none;
}




.des_1 {
  margin-right: 10px;
}


.des_2 {
  color: #AEAEB0;
  font-size: 14px;
}


.date {
  color: white;
  margin: 0;
  text-align: right;
  position: absolute;
  right: 10%;
  top: 42%;
  width: auto;
  background-color: #132629;
}


.date_frame {
  width: auto;
  min-width: 67px;
  max-width: 100px;
  padding: 17px 15px 15px;
  text-align: center;
  display: inline-block;
}


.day {
    margin-top: -7px;
    font-size: 35px;
    line-height: 1em;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}



.procedure {
  background-color: rgb(27, 30, 44);
}

.secnew {
  padding: 100px 0 !important;
}

@media screen and (max-width : 500px){
  .secnew {
    padding-bottom: 200px  !important;
  }
}


.hieuchinh {
  color: #ffff;
  margin-bottom: 30px !important;
}

.chinh {
  color: #ffff;
}


.img_procedure {
  height: 100%;
  background-size: cover;

  background-image: url('https://a.storyblok.com/f/64062/x/9a859ece42/grey-gradient-bg-34.svg');
}

.slider_procedure {
  height: 100%;
}

.image_slider_procedure {
  text-align: center;
}
.slider_procedure {
  padding: 6rem 0;
}
.image_slider_procedure {
  min-height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.title_content_procedure {
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    max-width: 70rem;
    color: rgb(115, 116, 125);
}

.title_content_procedure h3 {
  font-weight: bolder;
}

.des_content_procedure {
    margin-left: 6rem;
    margin-right: 6rem;
    max-width: 70rem;

    line-height: 2.2rem;
    color: rgb(27, 30, 44);
}



.procedure {
  position: relative;
}


.button_procedure {
  width: 100% !important;
  display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 20rem;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.item_nut {
  background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 7rem;
    justify-content: center;
    height: 7rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px 0px;
    cursor: pointer;
}

.img_nut {
  font-size: 28px;
  text-align: center;
}





@media screen and (max-width: 768px) {
  .active_hover_mobile {
    cursor: pointer;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(5px);
    background-color: rgba(24, 51, 94, 0.78);
      .title_hover_settled {
        display: none;
      }

      .content_hover_h2_settled {
        display: block;
        color: #fff;
        text-align: center;
        height: 100%;
        position: relative;
        transition: 0.4s;
        overflow: hidden;
      }

      .content_hover_h2_settled h2 {
        line-height: 1.6;
        font-size: 20px;
        font-weight: bold;
      }
  }
}



.title_hover_settled h2 {
  color: #ffff !important;
}

.content_hover_h2_settled h2 {
  color: #ffff !important;
}

.hieuchinh h2 {
  color: #ffff !important;
}




.wrapper {
  padding: 30px 0;
}
.news-item-inner {
  margin-bottom: 25px;
}
.news-item-inner .thumbnail, .program-item-thumb {
  position: relative;
  overflow: hidden;
}

.news-item-inner .thumbnail a {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}
a {
  color: #53f;
  text-decoration: none;
  background-color: transparent;
}
.news-item-inner .thumbnail img {
  height: 100%;
  max-width: inherit;
  transition: all 300ms ease-out;
  width: 100%;
}

.news-item-inner:hover .thumbnail img, .program-item:hover .program-item-thumb img {
  transform: scale(1.05);
}

.news-item-inner:hover .thumbnail:before, .program-item:hover .program-item-thumb:before {
  -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,105%,0);
  transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,105%,0);
}
.news-item-inner .thumbnail:before, .program-item-thumb:before {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.5);
  content: '';
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-105%,0);
  transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-105%,0);
}

.news-item-info .excerpt {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
}



.title a {
  color: #002359!important;
}
.news-item-inner .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 700;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.6);
}




.news_item_card {
  margin-bottom: 10px ;
  border: 0 !important;
  width: 100% !important;
  border-radius: 0 !important;
  position: relative;
}

.news_image {
  border-radius: 0 !important;
}

.news-item {
  background-color: #ffff;
  padding: 10px;
  box-shadow: 5px 10px 8px rgb(83, 83, 83 , 0.5);
}

.news_title {
  margin-bottom: 0 !important;
  padding: 30px 30px;
  padding-bottom: 0 !important;
}

.news_title h3 {
  font-weight: bolder;
}


.news_title h3 a {
  letter-spacing: 1px;
  line-height: 1.2;
  color: #132629 ;
  text-decoration: none;
}

.news_item_card {
  margin-bottom: 26px;
}



.news {
  background-color: #f3f4f7;
}

.news_des {
  margin-bottom: 10px;
}

.news_des .des_1 a{
  color: #132629 ;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .8px;
  text-decoration: none;

}




.des_1 {
  margin-right: 10px;
}


.des_2 {
  color: #AEAEB0;
  font-size: 14px;
}


.date {
  color: white;
  margin: 0;
  text-align: right;
  position: absolute;
  right: 10%;
  top: 46%;
  width: auto;
  background-color: #132629;
}


.date_frame {
  width: auto;
  min-width: 67px;
  max-width: 100px;
  padding: 17px 15px 15px;
  text-align: center;
  display: inline-block;
}


.day {
    margin-top: -7px;
    font-size: 35px;
    line-height: 1em;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

.title_post_chinh {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-item {
  height: 100%;
}
.category-tin-tuc {
  height: 100% !important;
}



// feedback

.feedback {
      background-color: rgb(27, 30, 44);
}

.feedback_main {
  h2 {    color: #3b3663;}
  div {
    color: #3b3663;
  }
}

.item_feedback {
  background: #fff;
    border-radius: 8px;
      padding: 40px 50px;
    margin-bottom: 1.875rem;
}


.content_feedback {
  display: flex;
  align-items: center;
}

.star_feed {
  display: flex;
  color: #E59819;
  margin: 0 0 10px;
  font-size: 12px;
  font-weight: 500;

  .start_text {
    margin-right: 5px;
  }
}

.flex_right_content {
  padding-left: 1.875rem;
}

.flex_left_image img {
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;
}

.flex_left_image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.name_feed {
  font-size: 15px;
  font-weight: 500;
  margin: 10px 0 0;
}

.job_feed {
  font-size: 13px;
}

@media screen and (max-width: 1400px) {
  .flex_left_image img {
    min-width: 80px !important;
    min-height: 80px !important;
  }
}

@media screen and (max-width: 550px) {
  .flex_left_image img {
    min-width: 60px !important;
    min-height: 60px !important;
  }

  .item_feedback {
    padding: 30px 40px !important;
  }
}
