

<!-- slider -->
<app-slider></app-slider>






<!-- giới thiệu về công ty -->


<div class="aboutus sec"  >
  <div class="container"  data-aos="fade-up">
      <div class="row aboutus_wrapper ">
            <div class="col-lg-4 col-md-12 col-xs-12 aboutus_image">
                <div class="khung_image_aboutus row">
                  <div class="image_col col-lg-12 col-md-6 col-xs-12">
                    <img src="../../../assets/introduce/Thiết kế chưa có tên (2).svg" alt="">
                  </div>
                  <div class="image_col col-lg-12 col-md-6 col-xs-12">
                    <img src="../../../assets/about-img-6.webp" alt="">
                  </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-xs-12 aboutus_content">
                <p>VỀ CHÚNG TÔI</p>
                <div class="introduce_main">
                  <h2 style="text-align: left;" >EducationVisa - Cầu nối giữa bạn và giáo dục chất lượng và cơ hội hấp dẫn</h2>
              </div>
                <span>Chào mừng đến với EducationVisa, đối tác đáng tin cậy của bạn trong việc theo đuổi giáo dục chất lượng và cơ hội học tập thú vị. Chúng tôi chuyên cung cấp hướng dẫn và hỗ trợ toàn diện cho các sinh viên muốn du học ở nước ngoài, đặc biệt là tại Úc. Cho dù bạn quan tâm đến đào tạo nghề, giáo dục đại học hoặc các chương trình chuyên ngành, chúng tôi sẽ ở đây để hỗ trợ bạn trong mọi bước của quá trình.</span>
                <div class="box_wrapper row" >
                    <div class="box_item col-lg-3 col-md-6 col-xs-6">
                        <div class="number">
                            {{number_university}} +
                        </div>
                        <div class="text_box">
                          University
                        </div>
                    </div>
                    <div class="box_item col-lg-3 col-md-6 col-xs-6">
                      <div class="number">
                          {{number_ex}} +
                      </div>
                      <div class="text_box">
                          Experience
                      </div>
                  </div>
                  <div class="box_item col-lg-3 col-md-6 col-xs-6">
                    <div class="number">
                          {{number_student}} +
                    </div>
                    <div class="text_box">
                        Student
                    </div>
                </div>
                <div class="box_item col-lg-3 col-md-6 col-xs-6">
                  <div class="number">
                      {{number_sati}} %
                  </div>
                  <div class="text_box">
                    Satisfaction level
                  </div>
              </div>
                </div>
            </div>
      </div>
  </div>
</div>




<div class="introduce sec" data-aos="fade-up" >
    <div class="container-fluid">
        <div class="introduce_main">
            <h2>Tại sao bạn nên chọn chúng tôi ? </h2>

            <div class="content_settled" style="margin-bottom: 40px;">
              EducationVisa - Sự khác biệt và cam kết tận tâm đối với khách hàng
            </div>
        </div>
        <div class="row introduce_wrap">
            <div class="col-lg-3 col-md-6 col-xs-12 item_introduce">
                <div class="frame_introduce">
                    <div class="quare" style="background-image: url('../../../assets/introduce/pexels-photo-4101143.webp');">
                        <div class="quare_container">
                          <i class="fa-solid fa-comment-medical flip_icon "></i>
                          <h2>Tư vấn chuyên nghiệp</h2>
                        </div>
                        <div class="flip_overplay">

                        </div>
                    </div>
                    <div class="quare2" style="background-color: #4abc48;">
                      <div class="quare_container2">
                        <p>
                          Đội ngũ tư vấn viên giàu kinh nghiệm sẽ tư vấn và hướng dẫn khách hàng về chương trình học và quy trình du học Úc. Chúng tôi đồng hành cùng khách hàng từ việc lựa chọn chương trình phù hợp đến hỗ trợ sau khi nhận yêu cầu
                        </p>
                      </div>

                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 item_introduce">
              <div class="frame_introduce">
                <div class="quare" style="background-image: url('../../../assets/introduce/1730.webp');">
                    <div class="quare_container">
                      <i class="fa-solid fa-earth-americas flip_icon "></i>
                      <h2>Mạng lưới đối tác đáng tin cậy</h2>
                    </div>
                    <div class="flip_overplay">

                    </div>
                </div>
                <div class="quare2" style="background-color: #4abc48;">
                  <div class="quare_container2">
                    <p>
                      Chúng tôi có mạng lưới đối tác rộng khắp với các trường đại học và tổ chức giáo dục tại Úc, mang đến cho khách hàng nhiều lựa chọn học tập đa dạng và tốt nhất.
                    </p>
                  </div>

              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 item_introduce">
            <div class="frame_introduce">
              <div class="quare" style="background-image: url('../../../assets/introduce/call-center.webp');">
                  <div class="quare_container">
                    <i class="fa-solid fa-headset flip_icon"></i>
                    <h2>Dịch vụ hỗ trợ toàn diện</h2>
                  </div>
                  <div class="flip_overplay">

                  </div>
              </div>
              <div class="quare2" style="background-color: #4abc48;">
                <div class="quare_container2">
                  <p>
                    Ngoài tư vấn du học, chúng tôi cung cấp hỗ trợ về chỗ ở, cuộc sống và văn hóa Úc, tài chính và học bổng. Chúng tôi cam kết đồng hành cùng khách hàng để đảm bảo trải nghiệm du học thuận lợi và thành công.
                  </p>
                </div>

            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 item_introduce">
          <div class="frame_introduce">
            <div class="quare" style="background-image: url('https://themes-themegoods.b-cdn.net/coursector/wp-content/uploads/2019/08/mature-businessman-addressing-boardroom-meeting-PR9AJW4-768x1152.jpg');">
                <div class="quare_container">
                  <i class="fa-solid fa-star flip_icon"></i>
                  <h2>Đánh giá và đảm bảo chất lượng</h2>
                </div>
                <div class="flip_overplay">

                </div>
            </div>
            <div class="quare2" style="background-color: #4abc48;">
              <div class="quare_container2">
                <p>
                  Chúng tôi đánh giá kỹ lưỡng chất lượng chương trình học và trường đại học để đảm bảo đáp ứng tiêu chuẩn cao về chất lượng giáo dục và môi trường học tập tốt nhất cho sinh viên.
                </p>
              </div>

          </div>
        </div>
      </div>
        </div>
    </div>
</div>






<div class="khung_procedure">

<div class="procedure secnew ">
  <div class="container ">
    <div class="introduce_main hieuchinh">
      <h2>QUY TRÌNH CỦA EDUCATIONVISA</h2>
  </div>

  <div class="content_settled sp chinh">
    Với kinh nghiệm làm việc toàn cầu, EducationVisa đã chuẩn hóa các bước làm việc sau để đảm bảo chất lượng hỗ trợ cao nhất với học sinh:
  </div>
</div>

<div class="button_procedure">
  <div class="item_nut">
      <div class="bao_item_nut">
          <div class="img_nut"><i class="fa-solid fa-calendar-days"></i></div>
          <div class="content_nut">Bước 1</div>
      </div>
  </div>
  <div class="item_nut">
    <div class="bao_item_nut">
        <div class="img_nut"><i class="fa-solid fa-people-group"></i></div>
        <div class="content_nut">Bước 2</div>
    </div>
</div>
<div class="item_nut">
  <div class="bao_item_nut">
      <div class="img_nut"><i class="fa-solid fa-person-chalkboard"></i></div>
      <div class="content_nut">Bước 3</div>
  </div>
</div>
<div class="item_nut">
  <div class="bao_item_nut">
      <div class="img_nut"><i class="fa-regular fa-map"></i></div>
      <div class="content_nut">Bước 4</div>
  </div>
</div>
</div>
</div>



<div class="img_procedure">
    <div class="container khung_procedure_img" style="height: 100%;">
          <div class=" container item_procedure">
              <div class="slider_procedure">
                <div class="image_slider_procedure">
                    <img src="https://a.storyblok.com/f/64062/x/d3ff55afce/process-01-crimson-education.svg" alt="" srcset="">
                </div>

                <div class="content_slider_procedure">
                    <div class="title_content_procedure">
                        <h3>01. Phác thảo sơ khởi lộ trình cá nhân hoá</h3>
                    </div>
                    <div class="des_content_procedure">
                      <p>Trong buổi gặp mặt đầu tiên với cố vấn, các bạn học sinh sẽ được đánh giá năng lực ứng tuyển dựa trên góc độ chuyên môn và giải đáp các thắc mắc về quá trình tuyển sinh. Với các thông tin trao đổi trong buổi tư vấn này, bao gồm cấp lớp, năng lực học thuật, đam mê…, cố vấn học thuật sẽ đề xuất một lộ trình học tập và rèn luyện cá nhân hoá, cùng những lời khuyên và đánh giá bổ ích cho những bước làm việc tiếp theo tại EducationVisa.</p>
                    </div>
                </div>
            </div>

            <div class="slider_procedure">
              <div class="image_slider_procedure">
                  <img src="https://a.storyblok.com/f/64062/x/dcc07e20ff/process-02-crimson-education.svg" alt="" srcset="">
              </div>

              <div class="content_slider_procedure">
                  <div class="title_content_procedure">
                      <h3>02. Gặp gỡ Điều phối viên giáo dục EducationVisa</h3>
                  </div>
                  <div class="des_content_procedure">
                    <p>Điều phối viên giáo dục (EducationVisa) chính là người đồng hành cùng học sinh trong suốt quá trình làm việc với EducationVisa. Cụ thể các EducationVisa sẽ kết nối các cố vấn, gia sư với các bạn học sinh và gia đình, và hỗ trợ thực hiện các phần công việc trong kế hoạch của đội ngũ của EducationVisa hướng cho các bạn học sinh. Các điều phối viên cũng đảm bảo thông tin trao đổi được thông suốt đến quý phụ huynh và gia đình.</p>
                  </div>
              </div>
          </div>

          <div class="slider_procedure">
            <div class="image_slider_procedure">
                <img src="https://a.storyblok.com/f/64062/x/70c26c5576/process-03-crimson-education.svg" alt="" srcset="">
            </div>

            <div class="content_slider_procedure">
                <div class="title_content_procedure">
                    <h3>03. Lên kế hoạch làm việc với Cố vấn chiến lược</h3>
                </div>
                <div class="des_content_procedure">
                  <p>Cố vấn chiến lược sẽ là người định hướng cho các bạn học sinh trong suốt quá trình chuẩn bị hồ sơ, là “đầu tàu” cho mọi hoạt động. Các chiến lược gia sẽ cùng học sinh xây dựng chiến lược ứng tuyển, gợi mở phương hướng để phát triển bản thân và nâng cao năng lực ứng tuyển phù hợp với định hướng của học sinh. Các cố vấn cũng sẽ là người đảm bảo các “mảnh ghép” của bộ hồ sơ ứng tuyển được hoàn hảo và ghép nối chỉn chu nhất trước khi chính thức nộp đơn.</p>
                </div>
            </div>
        </div>

        <div class="slider_procedure">
          <div class="image_slider_procedure">
              <img src="https://a.storyblok.com/f/64062/x/4a7ef98f33/process-04-crimson-education.svg" alt="" srcset="">
          </div>

          <div class="content_slider_procedure">
              <div class="title_content_procedure">
                  <h3>04. Làm việc với đội ngũ EducationVisa</h3>
              </div>
              <div class="des_content_procedure">
                <p>Khi bắt tay làm việc, thuật toán đặc biệt của Education sẽ giúp học sinh tìm ra đội ngũ làm việc phù hợp nhất với mình dựa trên mục tiêu học tập, đam mê và cá tính riêng, từ đội ngũ hàng ngàn cố vấn và chuyên gia trên toàn thế giới. Đội ngũ làm việc cùng học sinh bao gồm: Cố vấn hoạt động ngoại khoá, Cố vấn hỗ trợ bài luận, cố vấn đào tạo phỏng vấn với nhiều kinh nghiệm và thành tích trong lĩnh vực mà họ đang hỗ trợ học sinh.</p>
              </div>
          </div>
      </div>
          </div>
    </div>
</div>

</div>


<div class="feedback sec " style="background: url('../../../assets/pn-bg.webp');">
    <div class="container">
      <div class="introduce_main feedback_main">
        <h2 >KHÁCH HÀNG NÓI GÌ VỀ EDUCATIONVISA ? </h2>
        <div class="content_settled sp">
          Hỗ trợ du học Úc chuyên nghiệp và tận tâm
        </div>
    </div>
    </div>

    <div class="container-fluid">
        <div class="row item_feedback_array center">
            <div class="col-lg-12 item_feedback_khung">
                  <div class="item_feedback">
                      <div class="content_feedback">
                          <div class="flex_left_image">
                              <img src="https://iweb.tatthanh.com.vn/pic/8/thumb/compact/news/78268065_860153367736707_2062767917757366272_n.jpg" alt="">
                          </div>
                          <div class="flex_right_content">
                              <div class="star_feed">
                                  <div class="start_text">
                                      5
                                  </div>
                                  <div class="start_innter">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                  </div>
                              </div>
                              <div class="des_feed">
                                " Tôi rất hài lòng với dịch vụ của EducationVisa! Nhờ hỗ trợ tận tâm và chuyên nghiệp của đội ngũ tư vấn viên, tôi đã có thể dễ dàng xin visa du học Úc và đạt được ước mơ của mình. "
                              </div>
                              <div class="name_feed">
                                Nguyễn Huyền
                              </div>
                              <div class="job_feed">
                                Sinh Viên
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
            <div class="col-lg-12 item_feedback_khung">
              <div class="item_feedback">
                  <div class="content_feedback">
                      <div class="flex_left_image">
                          <img src="https://phaplyvietnam.com/wp-content/uploads/2022/01/kh1.jpg" alt="">
                      </div>
                      <div class="flex_right_content">
                          <div class="star_feed">
                              <div class="start_text">
                                  5
                              </div>
                              <div class="start_innter">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                              </div>
                          </div>
                          <div class="des_feed">
                            " EducationVisa đã giúp tôi hiểu rõ quy trình và thủ tục xin visa du học Úc. Họ cung cấp thông tin chi tiết và hướng dẫn tận tình, giúp tôi tự tin chuẩn bị hồ sơ và thành công trong việc nộp đơn. "
                          </div>
                          <div class="name_feed">
                            Trần Thành
                          </div>
                          <div class="job_feed">
                            Nhân viên văn phòng
                          </div>
                      </div>
                  </div>
              </div>
        </div>
        <div class="col-lg-12 item_feedback_khung">
          <div class="item_feedback">
              <div class="content_feedback">
                  <div class="flex_left_image">
                      <img src="https://phaplyvietnam.com/wp-content/uploads/2022/01/kh2.jpg" alt="">
                  </div>
                  <div class="flex_right_content">
                      <div class="star_feed">
                          <div class="start_text">
                              5
                          </div>
                          <div class="start_innter">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                          </div>
                      </div>
                      <div class="des_feed">
                        " Tôi rất biết ơn EducationVisa vì đã tìm cho tôi một chương trình du học phù hợp với nhu cầu và mong muốn của tôi. Chất lượng giảng dạy tại trường đại học mà tôi theo học thật sự tuyệt vời! "
                      </div>
                      <div class="name_feed">
                        Lê Phương
                      </div>
                      <div class="job_feed">
                        Trưởng phòng kinh doanh
                      </div>
                  </div>
              </div>
          </div>
    </div>
    <div class="col-lg-12 item_feedback_khung">
      <div class="item_feedback">
          <div class="content_feedback">
              <div class="flex_left_image">
                  <img src="https://iweb.tatthanh.com.vn/pic/8/thumb/compact/news/lam1.jpg" alt="">
              </div>
              <div class="flex_right_content">
                  <div class="star_feed">
                      <div class="start_text">
                          5
                      </div>
                      <div class="start_innter">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </div>
                  </div>
                  <div class="des_feed">
                    " Dịch vụ hỗ trợ sinh viên của EducationVisa rất tốt. Họ không chỉ giúp tôi tìm kiếm chỗ ở và hỗ trợ tài chính, mà còn cung cấp thông tin về cơ hội thực tập và việc làm ngoài giờ học, giúp tôi tăng cơ hội phát triển nghề nghiệp. "
                  </div>
                  <div class="name_feed">
                    Đặng Hoàng
                  </div>
                  <div class="job_feed">
                    Sinh viên
                  </div>
              </div>
          </div>
      </div>
</div>
        </div>
    </div>
</div>



<div class="news sec" >
  <div class="container">
    <div class="introduce_main">
      <h2>TIN TỨC VỀ DU HỌC ÚC</h2>
  </div>
</div>

<div class="wrapper" id="archive-wrapper">
  <div class="container" id="content" tabindex="-1">
      <main class="site-main" id="main">
        <div class="row">
  <div class="col-lg-4 col-sm-6" style="margin-bottom: 20px;" *ngFor="let item of listnew">
    <article routerLink="/{{item.link}}" class="post-2713 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc category-bi-quyet-dinh-cu-uc" id="post-2713">
        <div class="news-item">
            <div class="news-item-inner">
                <div class="thumbnail">
                    <a  routerLink="/{{item.link}}"><img width="700" height="525" [src]="this.api.URL + '/uploads/' + item.image " sizes="(max-width: 700px) 100vw, 700px" /></a>
                </div>
            <div class="news-item-info">


        <div class="card-title news_title" routerLink="/{{item.link}}">
            <div class="news_des"><span class="des_1">
              <a >Educationvisa</a>
            </span>  <span class="des_2">
              {{item.date | date:'dd/MM/yyyy'}}
            </span></div>
            <h3 routerLink="/{{item.link}}" class="title_post_chinh" style="cursor: pointer;" ><a style="font-size: 1.5rem !important;" >{{item.title}}</a></h3>
        </div>
            </div>
        </div>
    </div>

</article>
  </div>
            </div>
          </main>

    </div>

    </div>
    <div class="khung" style="padding-top: 0; padding-bottom: 0;">
      <a routerLink="/vn/tin-tuc" class="main_btn vitribtn" >Tìm hiểu thêm</a>
    </div>
</div>


<app-partner></app-partner>


<app-form></app-form>

