.introduce_main {
  h2 {
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1px;
  }
  margin-bottom: 40px;
  padding-top: 40px;
}
.content_settled {
  text-align: center;
}


.partner {
  padding: 100px 0px;
}

.item_box {
  display: flex;
  justify-content: center;
}

.partner {
  background-position : bottom !important ;
}
