
<div class="body-wrapper">
  <div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <!-- user online -->
          <div class="col-lg-3">
            <!-- Yearly Breakup -->
            <div class="card overflow-hidden">
              <div class="card-body p-4">
                <h5 class="card-title mb-9 fw-semibold to" >User Online</h5>
                <div class="row align-items-center">
                  <div class="col-8">
                    <h4 class="fw-semibold mb-3">0</h4>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- user xem bài viết -->
          <div class="col-lg-3">
            <!-- Yearly Breakup -->
            <div class="card overflow-hidden">
              <div class="card-body p-4">
                <h5 class="card-title mb-9 fw-semibold to">User xem bài viết</h5>
                <div class="row align-items-center">
                  <div class="col-8">
                    <h4 class="fw-semibold mb-3">0</h4>

                  </div>

                </div>
              </div>
            </div>
          </div>
           <!-- user xem bài viết -->
           <div class="col-lg-3">
            <!-- Yearly Breakup -->
            <div class="card overflow-hidden">
              <div class="card-body p-4">
                <h5 class="card-title mb-9 fw-semibold to">Số lượng bài viết</h5>
                <div class="row align-items-center">
                  <div class="col-8">
                    <!-- <h4 class="fw-semibold mb-3">{{this.slbv}}</h4> -->
                    <h4 class="fw-semibold mb-3">0</h4>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- số lượng đã gửi  -->
          <div class="col-lg-3">
            <!-- Yearly Breakup -->
            <div class="card overflow-hidden">
              <div class="card-body p-4">
                <h5 class="card-title mb-9 fw-semibold to">User cần trao đổi</h5>
                <div class="row align-items-center">
                  <div class="col-8">
                    <!-- <h4 class="fw-semibold mb-3">{{this.slcxl}}</h4> -->
                    <h4 class="fw-semibold mb-3">0</h4>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- biểu đồ  -->
      <div class="col-lg-12 d-flex align-items-strech">
        <div class="card w-100">
          <div class="card-body">
            <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
              <div class="mb-3 mb-sm-0">
                <h5 class="card-title fw-semibold to">Thông tin khách hàng cần xử lý</h5>
              </div>
              <div>
              </div>
            </div>
            <div >
                <app-contact></app-contact>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  </div>
