<footer class="footer-32892 pb-0">
  <div class="site-section">
    <div class="container">


      <div class="row">

        <div class="col-md pr-md-5 mb-4 mb-md-0">
          <h3>Địa chỉ </h3>
          <p><i class="fa-solid fa-location-dot"></i> VIỆT NAM</p>
          <p class="mb-4">Tổ chức giáo dục đào tạo nghề Châu Á Thái Bình Dương (161 Ngô Quyền, phường 6, Quận 10 Tp. Hồ Chí Minh)</p>

          <p><i class="fa-solid fa-location-dot"></i> ÚC</p>
          <p class="mb-4">93 Furlong Rd, Cairnlea, Vic 3023</p>

          <ul class="list-unstyled quick-info mb-4">
            <li><a href="#" class="d-flex align-items-center"><i class="fa-solid fa-phone" style="padding-right: 10px;"></i> +84 813 060 606 (tại Việt Nam)</a></li>
            <li><a href="#" class="d-flex align-items-center"><i class="fa-solid fa-phone" style="padding-right: 10px;"></i> +61 421456666 (tại Úc)</a></li>
            <li><a href="#" class="d-flex align-items-center"><i class="fa-solid fa-envelope" style="padding-right: 10px;"></i>admin@skillvisa.edu.vn</a></li>
          </ul>
        </div>
        <div class="col-md mb-3 mb-md-0">
          <h3>Truy cập nhanh </h3>
          <ul class="list-unstyled quick-info mb-4 listcheck">
            <li *ngFor="let item of listmenu" ><a routerLink="{{item.link}}" class="d-flex align-items-center chinh" style="color: #d7d8d9;"><i class="fa-regular fa-circle-check checkmenu"></i>{{item.title}}</a></li>
          </ul>
        </div>


        <div class="col-md-4 mb-5 mb-md-0">
          <h3>Nhận thông báo</h3>
          <form action="#" class="subscribe" style="margin-bottom: 40px;">
            <input type="text" class="form-control" placeholder="Enter your e-mail">
            <input type="submit" class="btn btn-submit" value="Send">
          </form>

          <h3>Social Media</h3>
          <ul class="social_media" >
              <li class="item_social"><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
              <li class="item_social"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
              <li class="item_social"><a href=""><i class="fa-brands fa-youtube"></i></a></li>

          </ul>


        </div>

        <div class="col-12">
          <div class="py-5 footer-menu-wrap d-md-flex align-items-center">
            Tổ chức giáo dục đào tạo nghề Châu Á Thái Bình Dương © 2023. All Rights Reserved.
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
